.logo {
	width: 15%;
}

.main-hr {
	height: 10px;
	border: 0;
	border-top: 1px solid;
	width: 20%;
}

.navbar-custom .navbar-nav li a:hover, a.active, a:active, a:focus, a:hover {
	color: #2DAAE1;
}


.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
	color: #2DAAE1;
	background: none;

}
.skills {
	font-weight: 400;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background-color: rgba(52, 152, 219, 0.75);
}

.portfolio-title {
	font-size: 3em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold !important;
	text-transform: uppercase;
	color: #3498db;
}

.portfolio-subtitle {
	font-size: 1.75em;
	font-weight: lighter;
	color: #3498db;
}

.link-img {
	height: 75px;
}


.tooltip .tooltip-arrow {
	border-top: 5px solid #3498db !important;
}


.tooltip.top .tooltip-inner {
	background-color: #3498db;
	font-family: Lato;
	font-size: 1.2em;
}

.link-details {
	margin: 0 !important;
}

.stack-details {
	margin: 0 0 20px 0 !important;
}

.mini-title {
	font-size: 1.5em;
	color: #3498db;
}