.main-container {
	padding-top: 10% !important;
}

.logo {
	width: 100px;
    margin-top: 50px;
}

.light-hr {
	height: 5px;
	border: 0;
	border-top: 1px solid;
	width: 20%;
}

.down-button {
	margin-top: 50px;
	width: 75px;
}

.blue-hr {
	height: 10px;
	border: 0;
	border-top: 1px solid #3498db;
	width: 20%;
}

.navbar-custom .navbar-nav li a:hover, a.active, a:active, a:focus, a:hover {
	color: #2DAAE1;
}


.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
	color: #2DAAE1;
	background: none;

}

.skills {
	font-weight: 400;
}

section {
	padding: 50px 0 50px 0;
}

#portfolio .portfolio-item .portfolio-link .caption {
	background-color: rgba(52, 152, 219, 0.75);
}

.portfolio-title {
	font-size: 3em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold !important;
	text-transform: uppercase;
	color: #3498db;
}

.portfolio-subtitle {
	font-size: 1.75em;
	font-weight: lighter;
	color: #3498db;
}

.link-img {
	height: 75px;
}


.tooltip .tooltip-arrow {
	border-top: 5px solid #3498db !important;
}


.tooltip.top .tooltip-inner {
	background-color: #3498db;
	font-family: Lato;
	font-size: 1.2em;
}

.link-details {
	margin: 0 !important;
}

.stack-details {
	margin: 0 0 20px 0 !important;
}

.mini-title {
	font-size: 1.5em;
	color: #3498db;
}

.h2-blue {
	color: #3498db !important;
}

#experience, #about {
	background-color: #3498db !important;
}

.experience-img {
	width: 10em;
}

.experience-header {
	font-size: 1.5em;
	margin-bottom: 15px;
}

.experience-company, .experience-title {
	font-weight: 700;
}

.experience-separator {
	color: #ecf0f1;
}

.experience-content {
	font-size: 18px !important;
} 

#education {
	background-color: white !important;
	color: #2c3e50;
}

.education-separator {
	color: #7f8c8d;
}

.about-content {
	text-align: center;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
	color: #3498db;
}